@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, #root {
        height: 100vh;
    }
    ::-webkit-scrollbar {
        @apply hidden md:block w-2;
        background-color: #06083c;
    }
    ::-webkit-scrollbar-thumb {
        background: #fff;
        height: 30px;
        box-shadow: 
        0 0 7px #0fa,
        0 0 10px #0fa,
        0 0 21px #0fa,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa,
        0 0 183px #0fa,
        0 0 200px #0fa;

        border-radius: 1rem;
    }

}

@layer utilities {
    .neonText {
        color: #fff;
        text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff,
          0 0 42px #0fa,
          0 0 82px #0fa,
          0 0 92px #0fa,
          0 0 102px #0fa,
          0 0 151px #0fa;
    }
    .neonShadow {
        box-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    }
    .tv {
        @apply w-full min-h-[5000vh] m-0 p-0 bg-[url('/tv/flury.svg')];
        scrollbar-color: #0fa black;
    }
    .origin0 {
        transform-origin: 0%;
    }

}